accelerate==1.4.0
accelerate==1.5.2
faiss_cpu==1.10.0
Flask==3.1.0
numpy==2.2.4
pandas==2.2.3
peft==0.15.0
sentence_transformers==3.4.1
torch==2.6.0
transformers==4.49.0
transformers==4.50.0
streamlit
sentence-transformers
transformers
torch
scikit-learn
faiss-cpu
pandas
numpy
pyarrow
protobuf<4.0.0
accelerate
